wsdl/hotels.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://demo.hotel.com/hotel-ws"
                  targetNamespace="http://demo.hotel.com/hotel-ws">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                   targetNamespace="http://demo.hotel.com/hotel-ws">


            <!--    DTOS-->
            <xs:complexType name="responseStatus">
                <xs:sequence>
                    <xs:element name="statusCode" type="xs:int"/>
                    <xs:element name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="hotelDto">
                <xs:sequence>
                    <xs:element name="hotelId" type="xs:long"/>
                    <xs:element name="hotelName" type="xs:string"/>
                    <xs:element name="address" type="xs:string"/>
                    <xs:element name="rating" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="hotelListDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="hotelDtoList" type="tns:hotelDto"/>
                    <xs:element name="totalElements" type="xs:long"/>
                    <xs:element name="totalPages" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="amenityDto">
                <xs:sequence>
                    <xs:element name="amenityId" type="xs:long"/>
                    <xs:element name="amenityName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="hotelAmenityDto">
                <xs:sequence>
                    <xs:element name="hotelAmenityId" type="xs:long"/>
                    <xs:element name="hotelId" type="xs:long"/>
                    <xs:element name="amenityId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>

            <!-- GetHotel -->
            <xs:element name="getHotelRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="hotelId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHotelResponse">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="tns:responseStatus">
                            <xs:sequence>
                                <xs:element name="hotelDto" type="tns:hotelDto"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>


            <!-- GetHotelList -->
            <xs:element name="getHotelListRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="hotelName" type="xs:string"/>
                        <xs:element name="page" type="xs:int"/>
                        <xs:element name="pageSize" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHotelListResponse">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="tns:responseStatus">
                            <xs:sequence>
                                <xs:element name="hotelListDto" type="tns:hotelListDto"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>

            <!-- AddHotel -->
            <xs:element name="addHotelRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="hotelDto" type="tns:hotelDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addHotelResponse">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="tns:responseStatus">
                            <xs:sequence>
                                <xs:element name="hotelDto" type="tns:hotelDto"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>

            <!-- UpdateHotel -->
            <xs:element name="updateHotelRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="hotelDto" type="tns:hotelDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateHotelResponse">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="tns:responseStatus">
                            <xs:sequence>
                                <xs:element name="hotelDto" type="tns:hotelDto"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>

            <!-- DeleteHotel -->
            <xs:element name="deleteHotelRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="hotelId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteHotelResponse">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="tns:responseStatus">
                            <xs:sequence>
                                <xs:element name="result" type="xs:boolean"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>

            <!-- GetAmenityList -->
            <xs:element name="getAmenityListRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="hotelId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAmenityListResponse">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="tns:responseStatus">
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="amenityListDto" type="tns:amenityDto"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>


            <!-- addHotelAmenity -->
            <xs:element name="addHotelAmenityRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="hotelAmenityDto" type="tns:hotelAmenityDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addHotelAmenityResponse">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="tns:responseStatus">
                            <xs:sequence>
                                <xs:element name="hotelAmenityDto" type="tns:hotelAmenityDto"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>

            <!-- DeleteHotelAmenity -->
            <xs:element name="deleteHotelAmenityRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="hotelAmenityDto" type="tns:hotelAmenityDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteHotelAmenityResponse">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="tns:responseStatus">
                            <xs:sequence>
                                <xs:element name="result" type="xs:boolean"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>


        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteHotelResponse">
        <wsdl:part element="tns:deleteHotelResponse" name="deleteHotelResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getHotelListRequest">
        <wsdl:part element="tns:getHotelListRequest" name="getHotelListRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAmenityListRequest">
        <wsdl:part element="tns:getAmenityListRequest" name="getAmenityListRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteHotelAmenityResponse">
        <wsdl:part element="tns:deleteHotelAmenityResponse" name="deleteHotelAmenityResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getHotelRequest">
        <wsdl:part element="tns:getHotelRequest" name="getHotelRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateHotelResponse">
        <wsdl:part element="tns:updateHotelResponse" name="updateHotelResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addHotelAmenityRequest">
        <wsdl:part element="tns:addHotelAmenityRequest" name="addHotelAmenityRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getHotelListResponse">
        <wsdl:part element="tns:getHotelListResponse" name="getHotelListResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addHotelAmenityResponse">
        <wsdl:part element="tns:addHotelAmenityResponse" name="addHotelAmenityResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addHotelRequest">
        <wsdl:part element="tns:addHotelRequest" name="addHotelRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteHotelRequest">
        <wsdl:part element="tns:deleteHotelRequest" name="deleteHotelRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addHotelResponse">
        <wsdl:part element="tns:addHotelResponse" name="addHotelResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateHotelRequest">
        <wsdl:part element="tns:updateHotelRequest" name="updateHotelRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteHotelAmenityRequest">
        <wsdl:part element="tns:deleteHotelAmenityRequest" name="deleteHotelAmenityRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getHotelResponse">
        <wsdl:part element="tns:getHotelResponse" name="getHotelResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAmenityListResponse">
        <wsdl:part element="tns:getAmenityListResponse" name="getAmenityListResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HotelsPort">
        <wsdl:operation name="deleteHotel">
            <wsdl:input message="tns:deleteHotelRequest" name="deleteHotelRequest">
            </wsdl:input>
            <wsdl:output message="tns:deleteHotelResponse" name="deleteHotelResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getHotelList">
            <wsdl:input message="tns:getHotelListRequest" name="getHotelListRequest">
            </wsdl:input>
            <wsdl:output message="tns:getHotelListResponse" name="getHotelListResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAmenityList">
            <wsdl:input message="tns:getAmenityListRequest" name="getAmenityListRequest">
            </wsdl:input>
            <wsdl:output message="tns:getAmenityListResponse" name="getAmenityListResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteHotelAmenity">
            <wsdl:input message="tns:deleteHotelAmenityRequest" name="deleteHotelAmenityRequest">
            </wsdl:input>
            <wsdl:output message="tns:deleteHotelAmenityResponse" name="deleteHotelAmenityResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getHotel">
            <wsdl:input message="tns:getHotelRequest" name="getHotelRequest">
            </wsdl:input>
            <wsdl:output message="tns:getHotelResponse" name="getHotelResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateHotel">
            <wsdl:input message="tns:updateHotelRequest" name="updateHotelRequest">
            </wsdl:input>
            <wsdl:output message="tns:updateHotelResponse" name="updateHotelResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addHotelAmenity">
            <wsdl:input message="tns:addHotelAmenityRequest" name="addHotelAmenityRequest">
            </wsdl:input>
            <wsdl:output message="tns:addHotelAmenityResponse" name="addHotelAmenityResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addHotel">
            <wsdl:input message="tns:addHotelRequest" name="addHotelRequest">
            </wsdl:input>
            <wsdl:output message="tns:addHotelResponse" name="addHotelResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HotelsPortSoap11" type="tns:HotelsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="deleteHotel">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteHotelRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteHotelResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getHotelList">
            <soap:operation soapAction=""/>
            <wsdl:input name="getHotelListRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getHotelListResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAmenityList">
            <soap:operation soapAction=""/>
            <wsdl:input name="getAmenityListRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAmenityListResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteHotelAmenity">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteHotelAmenityRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteHotelAmenityResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getHotel">
            <soap:operation soapAction=""/>
            <wsdl:input name="getHotelRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getHotelResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateHotel">
            <soap:operation soapAction=""/>
            <wsdl:input name="updateHotelRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateHotelResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addHotelAmenity">
            <soap:operation soapAction=""/>
            <wsdl:input name="addHotelAmenityRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addHotelAmenityResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addHotel">
            <soap:operation soapAction=""/>
            <wsdl:input name="addHotelRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addHotelResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HotelsPortService">
        <wsdl:port binding="tns:HotelsPortSoap11" name="HotelsPortSoap11">
            <soap:address location="http://localhost:8081/hotel-ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>